# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  name: Local

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '10.0.102'

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '*.sln'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    arguments: '--no-restore'
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '**/*Tests.csproj'
    arguments: '--no-build'

- script: |
    dotnet test --collect:"XPlat Code Coverage" --logger "trx;LogFileName=coverage.trx"
    dotnet tool install coverlet.console --version 6.0.4 --tool-path coverlet
    coverlet OnboardingSIGDB1.Tests/bin/Debug/net10.0/OnboardingSIGDB1.Tests.dll --target "dotnet" --targetargs "test --logger \"trx;LogFileName=coverage.trx\"" --format "cobertura,lcov" --output "coverage.cobertura.xml"
  displayName: 'Executar Testes e Gerar Cobertura'
